.signupBox {
    padding: 20px;
    background-color: var(--newsCardBg);
    border: 1px solid var(--newsCardborder);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 10px lightgray;

    form {
        padding-top: 30px;

        :global(.MuiFormControl-root) {
            margin-bottom: 16px;
            font-size: 14px;
            color: var(--bannermaintxt);

          
        }

        :global(.MuiInputBase-root) {
            border: 1px solid #ccc;
            border-radius: 5px;

            input {
                color: var(--bannermaintxt);
            }
          
        }

        :global(.MuiOutlinedInput-notchedOutline) {
            display: none;
        }
    }
}

.signupBox label{
  display: block;
  font-weight: bold;
 
}

.varLogo {
    text-align: center;

    h1 {
        font-size: 28px;
        color: var(--bannermaintxt);
        margin-bottom: 10px;
    }
}

.dialogFooter {
    text-align: center;
    padding: 20px 0 40px;

    p {
        color: var(--bannermaintxt);

        a {
            color: var(--headericonborder);
            font-weight: 600;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    :global(.MuiTypography-body1) {
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 30px;
    }
}

.createBoxWrap {
    padding: 50px 0;
}



/* CSS */
.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}