$activeColor: #3b82f6;
$activeGray: #5f5f5f;
$white: #fff;

$themes: (
  activeColor: (darkTheme: $activeColor,
    lightTheme: $activeColor,
  ),
  activeGray: (darkTheme: $activeGray,
    lightTheme: $activeGray,
  ),
  activeWhite:(darkTheme: $white,
    lightTheme: $white,
  ),
  nextProgressBarColor: (darkTheme: $activeColor,
    lightTheme: $activeColor,
  ),
  headericonborder: (darkTheme: #fff,
    lightTheme: #0f4c81,
  ),
  moodchange: (darkTheme: rgba(238, 243, 250, 0.09),
    lightTheme: #eef3fa,
  ),
  bodyBackground: (darkTheme: #090E13,
    lightTheme: #ffffff,
  ),
  activeIconColor: (darkTheme: var(--activeColor),
    lightTheme: var(--activeColor),
  ),
  primaryMain: (darkTheme: #3b82f6,
    lightTheme: #3b82f6,
  ),
  secondaryMain: (darkTheme: #673ab7,
    lightTheme: #673ab7,
  ),
  successMain: (darkTheme: #00e676,
    lightTheme: #00e676,
  ),
  errorMain: (darkTheme: #f44336,
    lightTheme: #f44336,
  ),
  warningMain: (darkTheme: #ffe57f,
    lightTheme: #ffe57f,
  ),
  inputBackMain:(darkTheme: #0c4373,
    lightTheme: #0c4373,
  ),
  cardBgMain:(darkTheme: #0F4C81,
    lightTheme: #0F4C81,
  ),
  ftrTheme:(darkTheme: #121D26,
    lightTheme: #121D26,
  ),
  headermeuColor: (darkTheme: #fff,
    lightTheme: #6d777f,
  ),
  commonTextColor: (darkTheme: #fff,
    lightTheme: #0f4c81,
  ),
  headermenuhover: (darkTheme: #fff,
    lightTheme: #3b82f6,
  ),
  bannersmalltxt: (darkTheme: #fff,
    lightTheme: #364f65,
  ),
  bannermaintxt: (darkTheme: #fff,
    lightTheme: #1a3750,
  ),
  bannersubtxt: (darkTheme: #748598,
    lightTheme: #718ea7,
  ),
  inputBg: (darkTheme: #131920,
    lightTheme: #fff,
  ),
  searchshadow:(darkTheme:#0E141B,
    lightTheme:#f3f3f3,
  ),
  inputBorder: (darkTheme: #262F39,
    lightTheme: #e1e9f4,
  ),
  inputTextColor: (darkTheme: #ffffff,
    lightTheme: #4e6c87,
  ),
  selectBgColor:(darkTheme: #1E2834,
    lightTheme:#f8f8f8,
  ),
  newsCardBg: (darkTheme: #0E151D,
    lightTheme: #FFFFFF,
  ),
  newsCardborder: (darkTheme: #15222F,
    lightTheme: #EEF2F9,
  ),
  verifiedbtn:(darkTheme: #131920,
    lightTheme:#ECF3FD,
  ),
  verifiedbtnborder:(darkTheme: #262F39,
    lightTheme:#D0DAEF,
  ),

  settingBtnBackgroundColor:(darkTheme:#3B82F6,
    lightTheme:#3B82F6,
  ),
  settingBtnColor:(darkTheme:#fff,
    lightTheme:#fff,

  ),
  card_blockBackColor:(darkTheme:#0E151D,
    lightTheme:#fff,
  ),
  ratingColor:(darkTheme:#fff,
    lightTheme:#fff,
  ),
  ratingBgColor:(darkTheme:#ffbf37,
    lightTheme:#ffbf37,
  ),
  warningBgColor:(darkTheme:#fff4de,
    lightTheme:#fff4de,
  ),
  like_number:(darkTheme:#fff,
    lightTheme:#3B82F6,
  ),
  deepBluePara:(darkTheme:#fff,
    lightTheme:#0f4c81,
  ),
  cardBottomHeadr:(darkTheme:#fff,
    lightTheme:#1A3750,
  ),
  activeBlueColor:(darkTheme:#1a3750,
    lightTheme:#1a3750,
  ),
  deepBlueParaNew:(darkTheme:#748598,
    lightTheme:#4e6c87,
  ),
  lightButton:(darkTheme:#3B82F6,
    lightTheme:#3B82F6,
  ),
  lightButtonBg:(darkTheme:#141F2D,
    lightTheme:#edf2fc,
  ),
  color42749f:(darkTheme:#708093,
    lightTheme:#42749f,
  ),
  buttonBodrer:(darkTheme:#3B82F6,
    lightTheme:#BCD4FD,
  ),
  chipbg:(darkTheme:#1E2834,
    lightTheme:#EDF2FC,
  ),
  chiptxt:(darkTheme:#fff,
    lightTheme:#3B82F6,
  ),
  body1Color:(darkTheme:#748598,
    lightTheme:#4E6C87,
  ),
  lightButtonBg1:(darkTheme:#141F2D,
    lightTheme:#EDF2FC,
  ),
  lightButtonBgHover:(darkTheme:#EDF2FC,
    lightTheme:#141F2D,
  ),
  bannerdownbtn:(darkTheme:#3B82F6,
    lightTheme:#fff,
  ),
  saveBtnHover:(darkTheme:#141F2D,
    lightTheme:#BCD4FD,
  ),
  relatedbg:(darkTheme:#0E151D,
    lightTheme:#fff,
  ),
  relatedbgline:(darkTheme:#3B82F6,
    lightTheme:#3B82F6,
  ),
  relatedbgcolor:(darkTheme:#3B82F6,
    lightTheme:#3B82F6,
  ),
  cardBorder:(darkTheme:#15222F,
    lightTheme:#eef2f9,
  ),
  buttonOutline:(darkTheme:#0E151D,
    lightTheme:#fff,
  ),
  barkButtonBg:(darkTheme:#0F4C81,
    lightTheme:#0F4C81,
  ),
  barkButtontext:(darkTheme:#fff,
    lightTheme:#fff,
  ),
  drawerIcon:(darkTheme:#fff,
    lightTheme:#0c4373,
  ),
  smallcardborder:(darkTheme:#15222F,
    lightTheme:#EEF2F9,
  ),
  suggestbtnColor:(darkTheme:#3B82F6,
    lightTheme:#1A3750,
  ),
  btnBoxShadow:(darkTheme:#090E13,
    lightTheme:#e8f1fc,
  ),
  activeLink:(darkTheme:#3B82F6,
    lightTheme:#0F4C81,
  ),
  popShadow:(darkTheme: none,
    lightTheme:rgba(145, 158, 171, 0.2),
  )
);

//get theme variables
@mixin printVariables($mode) {

  @each $key,
  $map in $themes {

    @each $prop,
    $value in $map {
      @if $prop ==$mode {
        --#{$key}: #{$value};
      }
    }
  }
}

@mixin exportVariables($mode) {

  @each $key,
  $map in $themes {

    @each $prop,
    $value in $map {
      @if $prop ==$mode {
        #{$key}: #{$value};
      }
    }
  }
}

body.dark-mode {
  @include printVariables("darkTheme");
}

body.light-mode {
  @include printVariables("lightTheme");
}

:export {
  @include exportVariables("lightTheme");
}